@font-face {
    font-family: 'boogaloo';
    src: url('../assets/fonts/Boogaloo-Regular.ttf');
}

.dNone {
    display: none !important;
}

html {
    font-family: boogaloo;
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#canvasContainer {
    position: relative;
}

#canvasOverlay {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    z-index: 1000;
    top: 0;
    height: 540px;
    width: 960px;
    border-radius: 20px;
}

#canvasOverlay img {
    position: absolute;
    height: 540px;
    width: 960px;
    border-radius: 20px;
}

#uiBtnBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#leftUiBtn {
    display: flex;
    padding-left: 20px;
    gap: 10px;
}

#rightUiBtn {
    padding-right: 20px;
}

.button {
    z-index: 2000;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffdb05 0, #ff9a00 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #994409;
    cursor: pointer;
    display: inline-flex;
    font-family: boogaloo;
    height: 60px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 35px;
    top: 20px;
  }

  #infoBtn.button {
    background-image: radial-gradient(100% 100% at 100% 0, #cce6ff 0, #2897ff 100%) !important;
    color: #ffffff;
  }
  
  .button:hover {
    transform: translateY(-2px);
  }
  
  .button:active {
    transform: translateY(2px);
  }

  #infoBtn.button:active {
    transform: translateY(2px);
  }

  #gearIcon {
    height: 32px !important;
    width: 32px !important;
  }
canvas {
    border-radius: 20px;
}


#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

#rotateNoteContainer {
    display: none;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rotateIcon {
    height: 50px;
    width: 50px;
}

#hud {
    display: none;
    bottom: 0;
}

#touchBtns {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    background-color: #994409;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

}

.touchBtn {
    height: 60px;
    width: 60px;
}


/* Portrait */
@media only screen and (max-width: 960px) {
    #gameContainer {
        display: none;
        width: 100%;
    }
    #pageTitle {
        display: none;
    }
    #rotateNoteContainer {
        display: flex;
    }
}


/* Landscape */
@media only screen and (max-height: 540px) {
    canvas {
        position: absolute;
        top: 0;
        height: 80lvh;
        width: 100lvw;
        border-radius: 0;
    }

    #canvasOverlay {
        top: 0;
        height: 80lvh;
        width: 100lvw;
        border-radius: 0;
    }

    #gameContainer {
        display: flex;
        height: 100lvh;
        width: 100lvw;
        border-radius: 0;
    }
    #pageTitle {
        display: none;
    }
    #hud {
        display: block;
        position: absolute;
        height: 20lvh;
    }

    #rotateNoteContainer {
        display: none;
    }
}
